*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    padding: 20px 0;
    max-width: 1000px;
}
.card-img-top{
    height: 150px;
    width: 100%;
}
.navbar .search{
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #eee;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 10355px;
    margin: 0 auto;
}
.submit{
    height: 70px;
    border-radius: 8px;
    color: #fff;
    background-color: blueviolet;
    width: 100px;
    margin-left: 30px;
    border: none;
    font-weight: 600;
}
.loading{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 132;
    background-color: #fff;
}
.card-img{
    height: 250px;
}

.card{
    min-height: 400px;
}

.card-text2{
    display: none;
}

.on{
    display: flex;
}


.off{
    display: none;
}
.readBtn{
    background: none;
    border: none;
    font-size: 18px;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;

    
}
.row{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-top{
    height: 250px;
    width: 100%;
}

